<html>
    <head></head>
    <body>
        <h1><%= @artist.name %></h1>
        <div>
            <p>
            Artist: <%= @artist.name %> </br>
            Genre: <%= @artist.genre %> </br>
            </p>
        </div>
    </body>
</html>